<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=no>
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout basica</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="contenedor">
        <header>
            <!--MENU-->
            <nav>
                <ul>
                    <li>
                        <a href="#"> Inicio</a>
                    </li>
                    <li>
                        <a href="#"> Acerca de </a>
                    </li>
                    <li>
                        <a href="#"> Productos </a>
                    </li>
                    <li>
                        <a href="">Contactos </a>
                    </li>

                </ul>
            </nav>
        </header>

        <!--Seccion principal-->
        <section class="main">
            <div class="imagen">
                <img src="img/3.jpg" alt="banner">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat repudiandae ut eligendi ex!
                        Vel earum voluptatum, nobis architecto in fugiat quibusdam tenetur sit quas atque quisquam,
                        praesentium ipsa et.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat repudiandae ut eligendi ex!
                        Vel earum voluptatum, nobis architecto in fugiat quibusdam tenetur sit quas atque quisquam,
                        praesentium ipsa et.

                    </p>
                </article>
            </section>
        </section>

        <!--Barra lateral-->
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li>
                        <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicingn
                        </a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing
                        </a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing
                        </a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci quasi possimus labore assumenda
                    sed voluptatem perspiciatis sequi doloremque dolor, corporis mollitia laboriosam, officiis totam
                </p>

            </div>
        </aside>

        <!--Pie de pagina-->
        <footer>
            <p>Roberto Vargas 2018</p>
        </footer>
    </div>




</body>

</html>